html, body {background-color:hsl(303, 63%, 85%) ;}
h1 {color:rgb(0, 0, 0); font-size:30px;}
h2 {color:rgb(0, 0, 0); font-size:30px;}
h3 {color:rgb(0, 0, 0); font-size:30px}
p {color:rgb(0, 0, 0); font-size:15px}
li {color:rgb(0, 0, 0); font-size:15px}